:root {
    --footer-color: #E0E0E0;
}

html, body, #repexi-app {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.repexi {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-content: center;
}

.page {
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex: 2 1 auto;
    height: 95vh;
    overflow: auto;
}

.footer {
    padding: 4em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 2 auto;
    background-color: var(--footer-color, #E0E0E0);
    justify-content: center;
    align-content: flex-end;
}